<div class="jumbotron formjumbotron" style="margin-left: auto; margin-right: auto; width: 700px;" >
    <% if @article.errors.any? %>
      <div class="text-left alert alert-danger" role="alert">
        <p>The following error prevented the article from getting created</p>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @article do |f| %>
    <div class="center form-group">
    </div>
      <div class="form-group">
        <div class="col-xs-12">
        <%= f.text_field :title, rows:1, class: "form-control", placeholder: "Title" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
        <%= f.text_area :description, rows:10, class: "form-control", placeholder: "Description" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-danger btn-lg" %>
      </div>
    <% end %>
    <div>
      [ <%= link_to 'Cancel creating and return back to article listing', articles_path %> ]
    </div>
</div>